.button:hover {
	-fx-background-color: #c0ecfa;
	-fx-background-radius: 10;
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}

.button {
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}
}