.hbox:hover {
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-color:  black;
	-fx-border-width: 2;
	-fx-border-radius: 17;
}

.hbox {
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-border-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}

.hboxplaylist:hover {
	-fx-background-color: #DEDEDE;
	-fx-background-radius: 10;
	-fx-border-color:  #016170;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}

.hboxplaylist {
	-fx-border-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}

.button:hover {
	-fx-background-color: #93f9b911;
	-fx-background-radius: 10;
	-fx-border-color: #016170;
	-fx-border-width: 2;
	-fx-border-radius: 10;
}